<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL_HOST</key>
	<string>$(SUPABASE_PROJECT_URL_HOST)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Giorgi.MemoriaSwiftUI.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>memoria</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
