<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL_HOST</key>
	<string>$(SUPABASE_PROJECT_URL_HOST)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>NSContactsUsageDescription</key>
	<string>Memoria uses your contacts to find friends who are already on Memoria and to help you invite the ones who aren't yet.</string>
</dict>
</plist>
